@import 'node_modules/codyhouse-framework/main/assets/css/base';
@import 'custom-style';

/* --------------------------------

Title: Utility Classes
Descr: App-wide utility classes

-------------------------------- */
.utility__lock-scroll {
    overflow: hidden;
}

.utility__scrollable {
    overflow: auto;
    -ms-overflow-style: none; // IE and Edge
    scrollbar-width: none; // Firefox

    &::-webkit-scrollbar {
        display: none; // Chrome, Safari and Opera
    }
}

/* --------------------------------

File#: _1_custom-select
Title: Custom Select
Descr: Custom Select Control
Usage: codyhouse.co/license

-------------------------------- */
:root {
  // --default variation only 👇
  --select-icon-size: 16px;
  --select-icon-right-margin: var(--space-sm); // icon margin right
  --select-text-icon-gap: var(--space-xxxs); // gap between text and icon
}

.select {
  position: relative;
}

.select__icon {
  width: var(--select-icon-size);
  height: var(--select-icon-size);
  pointer-events: none;
  position: absolute;
  right: var(--select-icon-right-margin);
  top: 50%;
  transform: translateY(-50%);
}
